.player
  align-items center
  display grid
  grid-template-columns 1fr 48px
  justify-self end

  @media (min-width: $bp-xl)
    display -ms-grid
    grid-template-columns 1fr max-content 68px
    -ms-grid-column 3
    // -ms-grid-column-span: 2 /*remember the gutter is a column track!*/
    -ms-grid-columns 1fr auto 68px
    -ms-grid-row 1

  .player__imagen
    box-sizing content-box
    display none

    @media (min-width: $bp-xl)
      display inherit
      height 18vh
      opacity 1
      overflow hidden
      padding-right 1rem
      transition opacity .2s ease-in-out
      width 11vw
      -ms-grid-column 1
      // -ms-grid-column-span: 1 /*remember the gutter is a column track!*/
      -ms-grid-row 1

    img
      margin-top -1rem
      object-fit cover
      object-position 0 0
      width 100%

  .player__info
    padding 0 .5rem
    text-align right
    -ms-grid-column 2
    // -ms-grid-column-span: 2 /*remember the gutter is a column track!*/
    -ms-grid-row 1

    @media (min-width: $bp-xl)
      padding 0 2.5rem 0 0
      text-align inherit

    li
      margin-bottom .5rem
      opacity 1
      transition all .2s ease-in-out

      &:last-child
        margin-bottom 0

    .player__programa
      display block
      font-family 'montserrat', sans-serif
      font-size 1.15em
      text-transform capitalize

      @media (min-width: $bp-xl)
        font-size 1.6em

    .player__horario
      color rgba($black, .6)
      font-size 1em
      text-transform initial-scale

      @media (min-width: $bp-xl)
        font-size 1.35em

    .player__onair
      align-items flex-start
      display flex
      flex-flow column nowrap
      font-family 'montserrat', sans-serif
      font-size 1.1em
      letter-spacing .05em
      margin-top .5rem
      text-transform uppercase

      input[type=range]
        background-color lightness($monumental, 85%)
        background-image linear-gradient($monumental, $monumental)
        background-repeat no-repeat
        background-size 50% 100%
        border-radius 10px
        cursor pointer
        height 4px
        margin auto
        outline none
        padding 0
        width 100%
        margin-top .4rem
        -webkit-appearance none

      input[type=range]::-webkit-slider-runnable-track
        background transparent
        border none
        box-shadow none
        -webkit-appearance none

      input[type=range]::-moz-range-track
        background transparent
        border none
        box-shadow none

      input[type=range]::-moz-focus-outer
        border 0

      input[type=range]::-webkit-slider-thumb
        background $monumental
        border 0
        border-radius 100%
        box-shadow 0 0 1px 0 rgba(0, 0, 0, .1)
        height 10px
        width 10px
        -webkit-appearance none

      input[type=range]::-moz-range-thumb
        background $monumental
        border 0
        border-radius 100%
        box-shadow 0 0 1px 0 rgba(0, 0, 0, .1)
        height 10px
        width 10px

  .player__buttons
    background transparent
    cursor pointer

    @media (min-width: $bp-xl)
      -ms-grid-column 3
      // -ms-grid-column-span: 2 /*remember the gutter is a column track!*/
      -ms-grid-row 1

    img
      width 80%
