*
  -moz-osx-font-smoothing: grayscale
  text-shadow: rgba(0, 0, 0, .1) 0 0 1px
  -webkit-font-smoothing: antialiased

body
  color: $black
  font-family: 'merriweather', sans-serif
  font-size: 62.5%
  font-weight: 400
  letter-spacing: .3px
  line-height: 1

a
  text-decoration: none

.media__title
  line-height: 1.15
  margin: 0 0 1rem
  padding: 0
  transition: .3s ease

  &:hover
    opacity: .7

h1, h2, h3, h4, h5, h6
  font-family: 'montserrat', sans-serif
  font-weight: 600
  letter-spacing: -.02em
  text-transform: initial

h1
  font-size: 2.5em
  line-height: 1.3

  @media (min-width: $bp-xl)
    font-size: 3.2em

h2
  font-size: 1.6em

  @media (min-width: $bp-xl)
    font-size: 2.5em

h3
  font-size: 1.85em

h4
  font-size: 1.4em
