@font-face
  font-family: 'montserrat'
  src: url('fonts/montserrat-semibold.eot')
  src: url('fonts/montserrat-semibold.eot?#iefix') format('embedded-opentype'),
       url('fonts/montserrat-semibold.woff2') format('woff2'),
       url('fonts/montserrat-semibold.woff') format('woff'),
       url('fonts/montserrat-semibold.ttf') format('truetype'),
       url('fonts/montserrat-semibold.svg#rubikblack') format('svg')
  font-style: normal
  font-weight: 600

@font-face
  font-family: 'merriweather'
  src: url('fonts/merriweather-regular.eot')
  src: url('fonts/merriweather-regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/merriweather-regular.woff2') format('woff2'),
       url('fonts/merriweather-regular.woff') format('woff'),
       url('fonts/merriweather-regular.ttf') format('truetype'),
       url('fonts/merriweather-regular.svg#rubikblack_italic') format('svg')
  font-style: normal
  font-weight: 400

@font-face
  font-family: 'merriweather'
  src: url('fonts/merriweather-italic.eot')
  src: url('fonts/merriweather-italic.eot?#iefix') format('embedded-opentype'),
       url('fonts/merriweather-italic.woff2') format('woff2'),
       url('fonts/merriweather-italic.woff') format('woff'),
       url('fonts/merriweather-italic.ttf') format('truetype'),
       url('fonts/merriweather-italic.svg#rubikblack_italic') format('svg')
  font-style: italic
  font-weight: 400

@font-face
  font-family: 'merriweather'
  src: url('fonts/merriweather-bold.eot')
  src: url('fonts/merriweather-bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/merriweather-bold.woff2') format('woff2'),
       url('fonts/merriweather-bold.woff') format('woff'),
       url('fonts/merriweather-bold.ttf') format('truetype'),
       url('fonts/merriweather-bold.svg#rubikblack_italic') format('svg')
  font-style: normal
  font-weight: 700

@font-face
  font-family: 'merriweather'
  src: url('fonts/merriweather-bolditalic.eot')
  src: url('fonts/merriweather-bolditalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/merriweather-bolditalic.woff2') format('woff2'),
       url('fonts/merriweather-bolditalic.woff') format('woff'),
       url('fonts/merriweather-bolditalic.ttf') format('truetype'),
       url('fonts/merriweather-bolditalic.svg#rubikblack_italic') format('svg')
  font-style: italic
  font-weight: 700
