// BEM - BLOCL > ELEMENT > MODIFIER
// .bloque {}
// .bloque__elemento {}
// .bloque--modificador {}
// -------- .red-social--twitter {...}
// <ul class="menu">
//    <li class="menu__item menu__item--activo"> Inicio </li>
//    <li class="menu__item"> Quienes Somos </li>
//    <li class="menu__item"> Portafolio </li>
//    <li class="menu__item"> Noticias </li>
//    <li class="menu__item"> Contacto </li>
// </ul>


// -------- 01 Plugins/ --------
@import '01_plugins/_sanitize'

// -------- 02 Utils/ --------
@import '02_utils/_extends'
@import '02_utils/_functions'
@import '02_utils/_mixins'
@import '02_utils/_variables'

// -------- 03 Base/ --------
@import '03_base/_breakpoints'
@import '03_base/_fonts'
@import '03_base/_forms'
@import '03_base/_typography'

// -------- 04 Components/ --------
@import '04_components/_buttons'
@import '04_components/_hamburger'
@import '04_components/_list'
@import '04_components/_navigation'
@import '04_components/_tabs'

// -------- 05 Layout/ --------
@import '05_layout/_comments'
@import '05_layout/_footer'
@import '05_layout/_general'
@import '05_layout/_header'
@import '05_layout/_player'
@import '05_layout/_sidebar'

// -------- 06 Pages/ --------
@import '06_pages/_contactos'
@import '06_pages/_falg'
@import '06_pages/_home'
@import '06_pages/_noticias'
@import '06_pages/_podcast'
@import '06_pages/_programas'
