.mod__content

  .media__list
    display: grid

    @media (min-width: $bp-xl)
      grid-column-gap: 2.5rem
      grid-row-gap: 2.5rem
      grid-template-columns: repeat(2, 1fr)

    .media__list--item
      display: grid
      height: 15rem

      @media (min-width: $bp-xl)
        grid-template-columns: repeat(2, 1fr)

      .media__img
        border: 1px solid lightness($black, 90%)

      .media__content
        align-content: flex-start
        display: flex
        flex-flow: column wrap
        padding-left: 1.5rem

        h1
          font-size: 2.5em
          margin: 0 0 .5rem

        li
          background: url(/svg/icon-play-podcast.svg) no-repeat 0 center
          background-size: 20px
          display: block
          font-size: 1.6em
          padding: .6rem 0 .6rem 1.7rem

          a
            color: $black
            transition: .3s ease

            &:hover
              opacity: .6
    //
    // h2
    //   border-bottom: 0
    //   margin: 0 0 1.5rem
    //   padding: 0
    //   text-transform: inherit

// VERIFICAR PORQUE ESTÁ DUPLICADO
// .mod__content
//   &.podcast
//
//     .media__img
//       border: 1px solid lightness($black, 90%)
//       height: 25rem


// .mod__content
  &.programas

    .programas__grilla
      align-items: center
      display: flex
      flex-flow: row wrap
      margin-bottom: 2.5rem
      justify-content: flex-start

      li
        background: lightness($black, 80%)
        border-radius: 24px
        font-size: 1.3em
        margin-right: 1rem
        padding: .6rem 1rem
        transition: .3s all ease

        &:hover,
        &:focus
          background: lightness($black, 50%)

          a
            color: $white

        &:last-child
          margin: 0

        &.grilla__current
          background: lightness($monumental, 60%)

          a
            color: $white

        a
          color: $black
          transition: .3s all ease

    .media__list
      align-items: start
      display: grid
      grid-row-gap: 1.5rem

      @media (min-width: $bp-xl)
        grid-column-gap: 2.5rem
        grid-row-gap: 2.5rem
        grid-template-columns: 1fr 1fr

      .media__list--item
        border: 1px solid lightness($black, 90%)
        height: 30rem

        @media (min-width: $bp-xl)
          height: 15rem

        .media__content
          padding: 1.5rem

        .media__img
          border: 0

          img
            height: 25rem

            @media (min-width: $bp-xl)
              height: 20rem

    &.detalle

      a
        border-bottom: 1px solid lightness($monumental, 85%)
        color: $monumental
        transition: all .3s ease

        &:hover,
        &:focus
          border-bottom: 1px solid lightness($monumental, 80%)
          color: lightness($monumental, 60%)

      h1
        font-size: inherit

      h2
        margin: 0

      .media__list
        display: grid
        grid-auto-columns: 1fr
        grid-column-gap: 1.5rem

        // @media (min-width: $bp-xl)

        .media__list--item
          border: 0
          display: flex
          flex-flow: row wrap
          height: auto
          overflow: inherit

          .media__img
            border: 1px solid lightness($black, 90%)
            order: 1

            @media (min-width: $bp-xl)
              border: 0
              order: 2

            img
              object-fit: cover

          .media__content
            order: 2
            padding: 0

            @media (min-width: $bp-xl)
              order: 1

        .media__list--item-main
          display: grid
          grid-column: 1 / 3
          // height: 25rem

          .media__img
            height: 15rem
            margin-bottom: 1rem

            @media (min-width: $bp-xl)
              height: 100%

            img
              height: 15rem

              @media (min-width: $bp-xl)
                height: 100%

          .media__content

            .media__content-conductores
              line-height: 1.3

            .media__content--horario
              color: lightness($black, 60%)
              font-size: 1.4em
              margin-bottom: 1rem

          // .media__img
          //
          //   img
          //     height: 55rem

        .media__list--item-equipo
          grid-column: 1 / 3
          height: auto

        .media__list--item-panel
          grid-column: 1 / 3

          @media (min-width: $bp-xl)
            flex-flow: row nowrap
            grid-column: inherit

          .media__img
            height: 15rem
            margin-bottom: .5rem
            order: 1

            @media (min-width: $bp-xl)
              margin: 0

            img
              height: 20rem
              width: 100%

          .media__content
            align-content: flex-start
            display: flex
            flex-flow: row wrap

            @media (min-width: $bp-xl)
              padding: 1rem 0 0 1rem
